<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application


        android:name=".DermaCareApplication"


        android:name=".DermaCareApp"

        android:allowBackup="true"
        android:icon="@drawable/ic_logo_heart"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_logo_heart"
        android:supportsRtl="true"
        android:theme="@style/Theme.DermaCare"
        android:usesCleartextTraffic="true">

        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.DermaCare.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".auth.OnboardingActivity"
            android:exported="false" />

        <activity
            android:name=".auth.LoginActivity"
            android:exported="false" />

        <activity
            android:name=".auth.RegisterActivity"
            android:exported="false"
            android:parentActivityName=".auth.LoginActivity" />

        <activity
            android:name=".auth.ForgotPasswordActivity"
            android:exported="false"
            android:parentActivityName=".auth.LoginActivity" />

        <activity
            android:name=".patient.PatientMainActivity"
            android:exported="false" />

        <activity
            android:name=".patient.ChatActivity"
            android:exported="false"
            android:theme="@style/Theme.DermaCare"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".patient.BookingActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".doctor.DoctorMainActivity"
            android:exported="false" />

        <activity
            android:name=".doctor.ExamineActivity"
            android:exported="false"
            android:theme="@style/Theme.DermaCare" />

        <activity
            android:name=".doctor.InvoiceActivity"
            android:exported="false"
            android:label="Thanh toán hóa đơn"
            android:theme="@style/Theme.DermaCare" />

        <activity
            android:name=".patient.EditProfileActivity"
            android:exported="false"
            android:label="Hồ sơ cá nhân" />
 
        <activity
            android:name=".patient.ChangePasswordActivity"
            android:exported="false"
            android:label="Đổi mật khẩu" />



        <activity
            android:name=".MedicalRecordActivity"
            android:exported="false" />

        <activity
            android:name=".doctor.AddPatientActivity"
            android:exported="false"
            android:label="Thêm bệnh nhân" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>


            
        <activity
            android:name=".chat.ChatActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".patient.RecordDetailActivity"
            android:exported="false"
            android:theme="@style/Theme.DermaCare" />

        <activity
            android:name=".patient.PatientInvoiceDetailActivity"
            android:exported="false"
            android:theme="@style/Theme.DermaCare" />

    </application>
</manifest>
